#conteudoContido{
	background-color:#222a77;
	width:100%;
	height: 50px;
    margin: auto;
    display: flex;
	color: white;
	align-items: center;
    justify-content: center;
}

#conteudoContido2{
	background-color:#222a77;
	background-color: rgba(76, 86, 168, 0.5);
}

#imgDelete{
	width: 20px;
	height: 30px;
}

#SelectAltera{
	text-decoration: none;
	color: white;
}












